body{
    background-color: #dddddd;
    font-family: 'Muli';
}
.container{
    background-color: #999999;
}

textarea.form-control{
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 250px;
}

.btnlist input{
    margin-top: 40px;
}
.btnlist button{
    margin-top: 10px;
}

#chart{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}